@import '../../../scss/variables';

.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      color: $orange;
      text-align: center;
      line-height: 42px;
      width: 45px;
      height: 45px;
      border: 1px solid $orange;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: $orange;
        color: $background;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange;
        color: $background;
      }
    }
  }
}
