@use 'scss/variables' as vars;

.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      color: vars.$primary;
      text-align: center;
      line-height: 42px;
      width: 45px;
      height: 45px;
      border: 1px solid vars.$primary;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: vars.$primary;
        color: vars.$light;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: vars.$primary;
        color: vars.$light;
      }
    }
  }
}
