@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      .header__logo div p {
        display: none;
      }

      .button__price {
        display: none;
      }

      .button__delimiter {
        display: none;
      }
    }
  }

  &__logo:active {
    transform: translateY(1px);
  }
}
