@import '../variables';

.pizza-block-wrapper {
  display: flex;
  justify-content: center;
}

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  // will-change: transform;
  // transition: 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
  // transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);

  // padding: 4px;
  // border: 1px solid $gray-line;
  // border-radius: 24px;

  &__image {
    width: 260px;
    animation: spin 120s linear infinite;
    z-index: 0;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
