@import '../variables';

.pizza-block-wrapper {
  display: flex;
  justify-content: center;
}

.pizza-block {
  width: 280px;
  margin-bottom: 65px;
  padding: 8px;
  border-radius: 28px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &__image {
    width: 260px;
    z-index: 0;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 10px;
  }

  &__description {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    margin: 10px;
    text-align: left;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &:hover {
    position: absolute;
    transform: scale(1.05);
    box-shadow: 0 0 16px 8px $gray-line;
    z-index: 1;

    .pizza-block__image {
      animation: spin 120s linear infinite;
    }

    .pizza-block__description {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}
