@use 'scss/variables' as vars;
@use 'scss/mixins' as mixins;
@use 'sass:color';

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    display: block;
    height: 538px;
    visibility: hidden;
    pointer-events: none;
  }
}

.card {
  width: 100%;
  padding: 8px;
  border-radius: 28px;
  background-color: vars.$background;
  text-align: center;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  .image {
    width: 100%;
    max-width: 260px;
    height: auto;
    z-index: 0;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 10px;
  }

  .description {
    display: block;
    transition: opacity 0.2s ease;
    margin: 10px;
    text-align: left;
    font-size: 14px;
    @include mixins.line-clamp(3);
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include mixins.noselect;

        &.active {
          background: vars.$background;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  .add {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color vars.$duration-base ease-in-out,
      border-color vars.$duration-base ease-in-out;
    border: 1px solid vars.$primary;

    @include mixins.noselect;

    span {
      color: vars.$primary;
    }

    svg {
      path {
        fill: vars.$primary;
      }
    }

    i,
    span,
    path,
    svg {
      transition: all vars.$duration-base ease-in-out;
    }

    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: vars.$primary;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }

    &:hover {
      background-color: vars.$primary;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }

      i {
        background-color: #fff;
        color: vars.$primary;
      }
    }

    &:active {
      background-color: color.adjust(vars.$primary, $lightness: 12%);
      transform: translateY(1px);
    }
  }

  // Tablet
  @media (min-width: vars.$breakpoint-md) {
    .description {
      display: none;
    }

    &:hover {
      position: absolute;
      transform: scale(1.05);
      box-shadow: 0 0 16px 8px vars.$gray-200;
      z-index: 1;

      .image {
        animation: spin 120s linear infinite;
      }

      .description {
        display: block;
      }
    }
  }

  // Desktop
  @media (min-width: vars.$breakpoint-lg) {
    max-width: 300px;

    .image {
      max-width: 280px;
    }
  }

  // Large desktop
  @media (min-width: vars.$breakpoint-xl) {
    max-width: 320px;

    .image {
      max-width: 300px;
    }
  }
}
