@use 'scss/variables' as vars;
@use 'scss/mixins';
@use 'sass:color';

.header {
  padding: 10px 0;

  border-bottom: 1px solid vars.$gray-200;

  .wrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .logo {
      svg {
        width: 160px;
        height: 32px;
      }
    }

    .logo:active {
      transform: translateY(1px);
    }

    .buttons {
      position: fixed;
      bottom: 20px;
      left: 50%;
      z-index: 20;

      display: flex;

      justify-content: center;
      align-items: center;

      width: auto;
      padding: 6px;

      background: #fff;
      border: 1px solid vars.$gray-200;
      border-radius: 38px;
      box-shadow: 0 0 16px 8px vars.$gray-200;

      transform: translateX(-50%);

      .price,
      .delimiter {
        display: none;
      }
    }

    .cart {
      display: flex;

      justify-content: center;
      align-items: center;

      min-width: auto;
      margin-left: 8px;
      padding: 14px 25px;

      background-color: vars.$primary;

      border: 1px solid transparent;
      border-radius: vars.$border-radius;

      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;

      text-align: center;

      transition:
        background-color vars.$duration-base ease-in-out,
        border-color vars.$duration-base ease-in-out;

      cursor: pointer;

      @include mixins.noselect;

      &:hover {
        background-color: color.adjust(vars.$primary, $lightness: 8%);
      }

      &:active {
        transform: translateY(1px);
      }

      span {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }

      .delimiter {
        width: 1px;
        height: 20px;
        margin: 0 10px;

        background-color: rgb(255 255 255 / 25%);
      }

      svg {
        margin-right: 6px;
        margin-bottom: 1px;
      }
    }
  }
}

// Tablet
@media (min-width: vars.$breakpoint-md) {
  .header {
    padding: 20px 0;

    .wrapper {
      flex-wrap: nowrap;
      gap: 0;

      .logo {
        svg {
          width: 200px;
          height: 50px;
        }
      }

      .buttons {
        position: static;
        z-index: auto;

        width: auto;
        padding: 0;

        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;

        transform: none;

        .price,
        .delimiter {
          display: block;
        }
      }

      .cart {
        min-width: 100px;
        margin-left: 20px;
        padding: 12px 25px;

        font-size: 16px;
        line-height: 23px;

        .delimiter {
          height: 25px;
          margin: 0 14px;
        }

        svg {
          margin-right: 8px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}

// Desktop
@media (min-width: vars.$breakpoint-lg) {
  .header {
    padding: 40px 0;
  }
}
