@use 'scss/variables' as vars;
@use 'scss/mixins' as mixins;
@use 'sass:color';

.cart {
  width: 90%;
  max-width: 820px;
  margin: 90px auto;

  .wrapper {
    .top {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }

    .title {
      display: flex;

      align-items: center;

      margin: 0;

      font-size: 32px;

      svg {
        position: relative;
        top: -2px;

        width: 30px;
        height: 30px;
        margin-right: 10px;

        path {
          stroke: vars.$secondary;
          stroke-width: 1.9;
        }
      }
    }

    .clear {
      display: flex;

      align-items: center;

      cursor: pointer;

      @include mixins.noselect;

      span {
        display: inline-block;

        margin-left: 7px;

        font-size: 18px;
        color: #b6b6b6;

        transition: color 0.3s ease-in-out;
      }

      svg {
        path {
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        span {
          color: color.adjust(#b6b6b6, $lightness: -50%);
        }

        svg path {
          stroke: color.adjust(#b6b6b6, $lightness: -50%);
        }
      }
    }

    .items {
      display: block;
    }

    .bottom {
      margin: 50px 0;

      .details {
        display: flex;

        justify-content: space-between;

        span {
          font-size: 22px;

          &:last-of-type b {
            color: vars.$primary;
          }
        }
      }

      .buttons {
        display: flex;

        justify-content: space-between;

        margin-top: 40px;

        .button {
          display: inline-block;

          min-width: 100px;
          padding: 10px 20px;

          background-color: vars.$primary;
          border: 1px solid transparent;
          border-radius: 30px;

          text-align: center;

          transition: background-color vars.$duration-base ease-in-out,
            border-color vars.$duration-base ease-in-out;

          cursor: pointer;

          @include mixins.noselect;

          &,
          span {
            color: #fff;
          }

          i,
          span,
          path,
          svg {
            transition: all vars.$duration-base ease-in-out;
          }

          &:hover {
            background-color: color.adjust(vars.$primary, $lightness: 8%);
          }

          &:active {
            background-color: color.adjust(vars.$primary, $lightness: 12%);

            transform: translateY(1px);
          }
        }

        .back {
          display: flex;

          justify-content: center;
          align-items: center;

          width: 210px;

          background-color: vars.$light;
          border-color: color.adjust(vars.$light, $lightness: -10%);

          span {
            font-weight: 600;
            color: vars.$gray-400;
          }

          &:hover {
            background-color: color.adjust(vars.$gray-400, $lightness: -90%);
            border-color: color.adjust(vars.$gray-400, $lightness: -90%);

            span {
              color: vars.$light;
            }
          }

          svg {
            margin-right: 12px;

            path {
              fill: transparent;
              stroke-width: 2;
            }
          }
        }

        .pay {
          display: inline-block;

          width: 210px;
          padding: 16px;

          background-color: vars.$primary;
          border: 1px solid transparent;
          border-radius: 30px;

          font-size: 16px;
          font-weight: 600;
          text-align: center;

          transition: background-color vars.$duration-base ease-in-out,
            border-color vars.$duration-base ease-in-out;

          cursor: pointer;

          @include mixins.noselect;
        }
      }
    }
  }
}
