@use 'scss/variables' as vars;
@use 'scss/mixins' as mixins;
@use 'sass:color';

.categories {
  width: 100%;
  overflow-x: auto;

  @include mixins.hide-scrollbar;

  ul {
    display: flex;

    gap: 10px;

    width: 800px;
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      flex-shrink: 0;

      padding: 13px 30px;

      background-color: #f9f9f9;
      border-radius: 30px;

      font-weight: bold;

      transition: background-color 0.1s ease-in-out;

      cursor: pointer;

      @include mixins.noselect;

      &:hover {
        background-color: color.adjust(#f9f9f9, $lightness: -2%);
      }

      &:active {
        background-color: color.adjust(#f9f9f9, $lightness: -5%);
      }

      &.active {
        background-color: #282828;

        color: #fff;
      }
    }
  }
}
