@use 'scss/variables' as vars;

.sort {
  position: relative;

  .label {
    display: flex;

    align-items: center;

    .button {
      display: flex;

      justify-content: center;
      align-items: center;

      width: 24px;
      height: 24px;
      margin: 0 8px;

      background-color: white;
      border: none;
      border-radius: 50%;

      transition: transform 0.3s ease;

      cursor: pointer;

      &:hover {
        background-color: vars.$gray-200;
      }
    }

    .flipped {
      transform: rotate(180deg);
    }

    b {
      width: 130px;
    }

    span {
      border-bottom: 1px dashed vars.$primary;

      color: vars.$primary;

      cursor: pointer;
    }
  }

  .popup {
    position: absolute;
    right: 0;
    z-index: 1;

    width: 160px;
    margin-top: 15px;
    padding: 10px 0;
    overflow: hidden;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 9%);

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;

        cursor: pointer;

        &.active,
        &:hover {
          background: rgb(254 95 30 / 5%);
        }

        &.active {
          font-weight: bold;
          color: vars.$primary;
        }
      }
    }
  }
}
