@use 'scss/variables' as vars;
@use 'scss/mixins' as mixins;

.root {
  min-height: calc(100vh - 300px);
  margin: vars.$spacing-xl 0;

  text-align: center;

  @include mixins.center-children(column);

  .title {
    margin-bottom: vars.$spacing-md;
  }

  .description {
    max-width: 400px;
    margin-bottom: vars.$spacing-xl;
  }

  .image {
    width: 200px;

    margin-bottom: vars.$spacing-xxl;
  }

  // Tablet
  @media (min-width: vars.$breakpoint-md) {
    .title {
      font-size: vars.$font-size-xxl;
    }

    .description {
      max-width: 600px;

      font-size: vars.$font-size-lg;
    }
  }
}
