@use 'scss/variables' as vars;
@use 'scss/mixins' as mixins;

.content {
  padding: 20px 0;

  .filter {
    display: flex;

    flex-direction: column-reverse;
    align-items: end;
    gap: 20px;

    .categories {
      width: 100%;
      margin-top: 20px;
      overflow-x: auto;

      @include mixins.hide-scrollbar;

      ul {
        width: 800px;
      }
    }

    .sort {
      align-self: flex-start;

      b {
        display: none;
      }
    }
  }

  .title {
    margin: 30px 0;

    font-size: 42px;
    font-weight: 800;
  }

  .items {
    display: grid;

    gap: 15px;
    grid-template-columns: 1fr;
  }

  // Small tablet
  @media (min-width: vars.$breakpoint-sm) {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Tablet
  @media (min-width: vars.$breakpoint-md) {
    padding: 30px 0;

    .filter {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }
  }

  // Desktop
  @media (min-width: vars.$breakpoint-lg) {
    .title {
      margin: 30px 0;
    }

    .items {
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // Large desktop
  @media (min-width: vars.$breakpoint-xl) {
    .title {
      margin: 40px 0;
    }

    .items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
