.root {
  position: relative;
  left: -120px;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  left: 16px;
  top: 16px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px 15px 45px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    // width: 400px;
  }
}

.clear__icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
