@use '../../../scss/variables' as vars;

.wrapper {
  width: calc(100vw - 20px);

  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (min-width: vars.$breakpoint-md) {
    width: calc(100vw - 100px);
  }
}
