@use 'scss/variables' as vars;

.wrapper {
  width: calc(100vw - 30px);
  max-width: 1400px;

  height: 100%;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 10px;

  @media (min-width: vars.$breakpoint-md) {
    width: calc(100vw - 100px);
  }
}
