@use 'scss/variables' as vars;

.footer {
  height: 180px;
  padding: 40px 0;

  border-top: 1px solid vars.$gray-200;

  .wrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
}
