@use '../../../scss/variables' as vars;

.footer {
  height: 180px;
  border-top: 1px solid vars.$gray-200;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
