// Выравнивает блоки по центру
@mixin center-children($flex-direction: row) {
  display: flex;

  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

// Предотвращает выделение текста и элементов пользователем
@mixin noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

// Ограничивает количество видимых строк текста в блоке
@mixin line-clamp($lines) {
  display: block;

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lines;

  line-clamp: $lines;
}

// Скрывает скроллбар у элемента,
@mixin hide-scrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
