@mixin noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin line-clamp($lines) {
  display: block;

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lines;

  line-clamp: $lines;
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
